

/*  ====  Client  ====  */
#client {
    background-color: rgb(39 38 38 / 70%);
}
#client .titArea{
    text-align: right;
}
#client .titArea p {
    margin-top: 90px;
}
.clientList ul,
.clientList li,
.clientList a {
    margin: 0;
    padding: 0;
    list-style: none;
}
.clientList .tabCon {
    height: 100%;
}

/* pc */
@media screen and (min-width: 961px) {
    #client {
        padding: 170px 0;
    }
    #client .contents {
        display: flex;
        justify-content: space-between;
    }
    #client .titArea {
        margin: 0;
    }
    .clientList {
        position: relative;
        width: 50%;
        height: 480px;
    }
}


/* mobile */
@media screen and (max-width: 960px) {
    #client {
        padding: 85px 0 105px;
    }

    #client .titArea p {
        margin-top: 20px;
    }

    .clientList {
        position: relative;
        height: 480px;
        margin-top: 40px;
    }
}

/* mobile */
@media screen and (max-width: 960px) {
    #story {
        padding: 85px 0;
    }
    #story .titArea {
        margin-bottom: 70px;
        text-align: center;
    }
    #story .btnArea {
        position: absolute;
        right: 0;
        bottom: 10px;
    }
    #story .btnArea a {
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }
    #story .btnArea a img {
        width: 100%;
    }
    .storyList li {
        height: 337px;
        margin-right: 30px;
    }
    .storyTxt {
        margin-top: 20px;
    }
    .storyTxt li {
        font-size: 18px;
    }
    .storyTxt span {
        margin-top: 10px;
        font-size: 16px;
    }
}

/* mobile 2 */
@media screen and (max-width: 760px) {
    .storyList li {
        margin-right: 30px;
    }
}

/*  ====  contact  ====  */
#contact {
    background-color: #2E3135;
}

#contact .titArea {
    text-align: center;
}

#contact .btnArea {
    text-align: center;
}

#contact .btnArea button {
    border: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}


.formArea {
}

.formArea form {
}

.formArea legend {
    position: absolute;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
}


.inquire, .inquire dt, .inquire dd {
    margin: 0;
    padding: 0;
}

.inquire {
}

.inquire dt {
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-weight: 300;
    line-height: 1.5;
}

.inquire dd {
    border-bottom: 1px solid rgba(255 255 255 / 50%);
}

.inquire dd:last-child {
    border: 1px solid rgba(255 255 255 / 50%);
    border-radius: 6px;
}

.inquire input[type=text] {
    background-color: transparent;
    border: none;
    color: #fff;
}

.inquire input[type=text]:placeholder {
    font-family: 'Noto Sans KR', sans-serif;
    color: rgba(255 255 255 / 20%);
}

.inquire input[type=text]:focus {
    box-shadow: none;
}

.inquire textarea {
    background-color: transparent;
    border: none;
    color: #fff;
}

.inquire textarea:focus {
    background-color: transparent;
    color: #fff;
    box-shadow: none;
}


/* pc */
@media screen and (min-width: 961px) {
    #contact {
        padding: 120px 0 160px;
    }
    .inquire {
        margin-top: 130px;
    }
    .inquire dt {
        margin-top: 40px;
        font-size: 15px;
    }
    .inquire dt:first-of-type {
        margin-top: 0;
    }
    .inquire input[type=text] {
        padding: 10px 0;
    }
    .inquire dd:last-of-type {
        margin-top: 10px;
    }
    #contact .btnArea {
        margin-top: 20px;
    }
    #contact .btnArea button {
        padding: 15px 46px;
    }
}

/* mobile */
@media screen and (max-width: 960px) {
    #contact {
        padding: 75px 0 70px;
    }

    #contact .titArea p {
        margin-top: 20px;
    }

    .inquire {
        margin-top: 75px;
    }

    .inquire dt {
        margin-top: 30px;
        font-size: 14px;
    }

    .inquire dt:first-of-type {
        margin-top: 0;
    }

    .inquire input[type=text] {
        padding: 10px 0;
    }

    .inquire dd:last-of-type {
        margin-top: 10px;
    }

    #contact .btnArea {
        margin-top: 20px;
    }

    #contact .btnArea button {
        padding: 10px 46px;
        font-size: 14px;
    }
}

/*  ====  footer  ====  */
.footer {
    font-family: 'Noto Sans KR', sans-serif;
    padding: 70px 0px;
    background-color: #26282B;
    font-weight: 300;
    line-height: 1.7;
    color: rgba(255 255 255 / 80%);
}
.footer:after {
    content: '';
    display: block;
    margin: 0 auto;
    background: url('/assets/img/footer_logo.png') no-repeat center;
    background-size: cover;
}
.footer ul, .footer li, .footer a {
    margin: 0;
    padding: 0;
    color: inherit;
    list-style: none;
}
.footer li {
    position: relative;
}
.footer p {
    margin: 0;
    text-align: center;
}
.footer a {
    color: rgba(255 255 255 / 80%) !important;
}

/* pc */
@media screen and (min-width: 961px) {
    .footer {
        padding: 30px 0;
    }
    .footer:after {
        width: 175px;
        height: 40px;
    }
    .footer ul {
        font-size: 0;
        text-align: center;
    }
    .footer li {
        padding-left: 20px;
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
    }
    .footer li:before {
        content: '';
        position: absolute;
        top: 7px;
        left: 10px;
        width: 1px;
        height: 13px;
        background-color: rgba(255 255 255 / 80%);
    }
    .footer li:first-child {
        padding-left: 0;
    }
    .footer li:first-child:before {
        display: none;
    }
    .footer p {
        margin-bottom: 20px;
    }
}

/* mobile */
@media screen and (max-width: 960px) {
    .footer {
        padding: 30px 0;
        font-size: 14px;
    }
    .footer:after {
        width: 175px;
        height: 40px;
    }
    .footer ul {
        margin-top: 20px;
    }
    .footer ul:first-of-type {
        margin-top: 0;
    }
    .footer li {
        text-align: center;
    }
    .footer p {
        margin: 20px 0;
    }
    .footer a {
        text-decoration: underline;
    }
}

.btn-custom,
.back_top,
.work_menu a.active,
.work_menu a:hover {
    background-color: #E96A23;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
    background-color: #d8576f;
    border-color: #E96A23;
}