



/*===========================
        6.SERVICES
=============================*/
.service-box {
    border: 1px solid #eaeaea;
    border-radius: 8px;
}

.service-box .service-content h5 {
    font-size: 20px;
    font-weight: 700;
}

.service-box .service-content p {
    font-size: 15px;
}


/*===========================
        7.CLIENT
=============================*/
.testi_boxes {
    max-width: 750px;
}

.client_review {
    font-size: 18px;
}

.client_name {
    font-size: 16px;
}

.testi_boxes .tam_testi_icon {
    font-size: 50px;
}

/*===========================
        8.WORK
=============================*/
.work_item {
    position: relative;
    padding: 15px;
}

.work_box {
    overflow: hidden;
    position: relative;
}

.work_box .work_img {
    position: relative;
    overflow: hidden;
}

.work_box .work_img:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.work_box .work_img > img {
    transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
    border-radius: 0;
}

.work_box .work_detail {
    opacity: 0;
    color: #ffffff;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    overflow: hidden;
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.work_box .work_detail h4 {
    font-size: 18px;
}

.work_box .work_detail p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}

.work_box:hover .work_detail {
    top: 50%;
    transform: translate(0, -50%);
    opacity: 1;
}

.work_box:hover .work_img:after {
    background: rgba(38, 40, 43, 0.72);
}

.work_box:hover .work_img > img {
    transform: scale(1.05);
}

/*=========================
        9.CONTACT
===========================*/
.blog_color {
    background-color: #2e3135;
}


/*=========================
        10.CONTACT
===========================*/
.form-kerri .form-control {
    box-shadow: none !important;
    height: 50px;
    border: 2px solid #3b3e42;
    background-color: transparent;
    color: #fbfbfb;
}

.form-kerri textarea.form-control {
    height: auto;
}

.contact_detail-title {
    font-size: 18px;
    line-height: 2.5;
}

.error {
    margin: 8px 0px;
    display: none;
    color: #ec5f79;
}

.error_msg {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    color: #ec5f79;
    font-weight: 700;
}

.gig_loader {
    display: none;
}

#success_msg {
    text-align: center;
    margin-bottom: 20px;
}

#success_msg h3 {
    color: #64d674;
    font-size: 22px;
}

/*===========================
        12.RESPONSIVE
=============================*/
@media (min-width: 200px) and (max-width: 768px) {
    .custom-nav {
        background-color: #fff !important;
        padding: 10px 0px !important;
    }

    .custom-nav .container {
        width: 85%;
    }

    .custom-nav .navbar-toggler {
        color: #000;
        font-size: 32px;
        border: none;
    }

    .custom-nav .logo .logo-dark {
        display: inline-block;
    }

    .custom-nav .navbar-nav li a {
        color: rgba(0, 0, 0, 0.6) !important;
    }

    .custom-nav .logo .logo-light {
        display: none;
    }

    .h-100vh {
        height: auto;
        padding: 120px 0 140px;
    }

    .header-bg-img {
        clip-path: none;
        padding: 120px 0 140px;
    }

    .wave-home.h-100vh {
        height: auto;
        padding: 120px 0 190px;
    }

    .custom-nav .navbar-nav li a {
        margin: 0 0px;
        line-height: 15px;
    }

    .header-name {
        font-size: 38px;
    }

    .clip-home {
        clip-path: none;
    }
}

@media (max-width: 2560px) {
    .home-bg .curv-img {
        bottom: -5px;
    }
}


/* ========================================== ReNew ========================================== */
/*  ====  컨텐츠  ====  */
.contents {
    position: relative;
    max-width: 1110px;
    height: 100%;
    margin: 0 auto;
}

/* pc */
@media screen and (min-width: 961px) {
    .pcOnly {
        display: block !important;
    }

    .mobileOnly {
        display: none;
    }

    .contents.wide {
        max-width: 100%;
    }
}


/* mobile */
@media screen and (max-width: 960px) {
    .pcOnly {
        display: none !important;
    }

    .mobileOnly {
        display: block !important;
    }


    .contents {
        padding: 0 30px;
    }
}


/*  ====  타이틀  ====  */
.titArea {
    margin: 0;
}

.titArea h2 {
    margin: 0;
    color: #E96A23;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.titArea h3 {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.15;
    font-weight: 400;
    color: #fff;
}

.titArea h3 span {
    color: #E96A23;
}

.titArea p {
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    color: rgba(255 255 255 / 80%);
}


/* pc */
@media screen and (min-width: 961px) {
    .titArea {
    }

    .titArea h2 {
        margin-bottom: 10px;
        font-size: 26px;
    }

    .titArea h3 {
        font-size: 48px;
    }

    .titArea p {
        margin: 35px 0 0;
        font-size: 20px;
    }


    .titArea.thumbTit {
        position: relative;
        min-height: 338px;
        padding-left: 555px;
    }
}


/* mobile */
@media screen and (max-width: 960px) {
    .titArea {
        text-align: center;
    }

    .titArea h2 {
        margin-bottom: 10px;
        font-size: 16px;
    }

    .titArea h3 {
        font-size: 28px;
    }

    .titArea p {
        margin: 30px 0 0;
        font-size: 15px;
    }
}

/* mobile */
@media screen and (max-width: 960px) {
    #services {
        padding: 85px 0;
    }
}

/*  ====  Client  ====  */
#client {
    background-color: rgb(39 38 38 / 70%);
}
#client .titArea{
    text-align: right;
}
#client .titArea p {
    margin-top: 90px;
}
.clientList ul,
.clientList li,
.clientList a {
    margin: 0;
    padding: 0;
    list-style: none;
}
.clientList .tabCon {
    height: 100%;
}

/* pc */
@media screen and (min-width: 961px) {
    #client {
        padding: 170px 0;
    }
    #client .contents {
        display: flex;
        justify-content: space-between;
    }
    #client .titArea {
        margin: 0;
    }
    .clientList {
        position: relative;
        width: 50%;
        height: 480px;
    }
}


/* mobile */
@media screen and (max-width: 960px) {
    #client {
        padding: 85px 0 105px;
    }

    #client .titArea p {
        margin-top: 20px;
    }

    .clientList {
        position: relative;
        height: 480px;
        margin-top: 40px;
    }
}

/* mobile */
@media screen and (max-width: 960px) {
    #story {
        padding: 85px 0;
    }
    #story .titArea {
        margin-bottom: 70px;
        text-align: center;
    }
    #story .btnArea {
        position: absolute;
        right: 0;
        bottom: 10px;
    }
    #story .btnArea a {
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }
    #story .btnArea a img {
        width: 100%;
    }
    .storyList li {
        height: 337px;
        margin-right: 30px;
    }
    .storyTxt {
        margin-top: 20px;
    }
    .storyTxt li {
        font-size: 18px;
    }
    .storyTxt span {
        margin-top: 10px;
        font-size: 16px;
    }
}

/* mobile 2 */
@media screen and (max-width: 760px) {
    .storyList li {
        margin-right: 30px;
    }
}

/*  ====  contact  ====  */
#contact {
    background-color: #2E3135;
}

#contact .titArea {
    text-align: center;
}

#contact .btnArea {
    text-align: center;
}

#contact .btnArea button {
    border: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}


.formArea {
}

.formArea form {
}

.formArea legend {
    position: absolute;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
}


.inquire, .inquire dt, .inquire dd {
    margin: 0;
    padding: 0;
}

.inquire {
}

.inquire dt {
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-weight: 300;
    line-height: 1.5;
}

.inquire dd {
    border-bottom: 1px solid rgba(255 255 255 / 50%);
}

.inquire dd:last-child {
    border: 1px solid rgba(255 255 255 / 50%);
    border-radius: 6px;
}

.inquire input[type=text] {
    background-color: transparent;
    border: none;
    color: #fff;
}

.inquire input[type=text]:placeholder {
    font-family: 'Noto Sans KR', sans-serif;
    color: rgba(255 255 255 / 20%);
}

.inquire input[type=text]:focus {
    box-shadow: none;
}

.inquire textarea {
    background-color: transparent;
    border: none;
    color: #fff;
}

.inquire textarea:focus {
    background-color: transparent;
    color: #fff;
    box-shadow: none;
}


/* pc */
@media screen and (min-width: 961px) {
    #contact {
        padding: 120px 0 160px;
    }
    .inquire {
        margin-top: 130px;
    }
    .inquire dt {
        margin-top: 40px;
        font-size: 15px;
    }
    .inquire dt:first-of-type {
        margin-top: 0;
    }
    .inquire input[type=text] {
        padding: 10px 0;
    }
    .inquire dd:last-of-type {
        margin-top: 10px;
    }
    #contact .btnArea {
        margin-top: 20px;
    }
    #contact .btnArea button {
        padding: 15px 46px;
    }
}

/* mobile */
@media screen and (max-width: 960px) {
    #contact {
        padding: 75px 0 70px;
    }

    #contact .titArea p {
        margin-top: 20px;
    }

    .inquire {
        margin-top: 75px;
    }

    .inquire dt {
        margin-top: 30px;
        font-size: 14px;
    }

    .inquire dt:first-of-type {
        margin-top: 0;
    }

    .inquire input[type=text] {
        padding: 10px 0;
    }

    .inquire dd:last-of-type {
        margin-top: 10px;
    }

    #contact .btnArea {
        margin-top: 20px;
    }

    #contact .btnArea button {
        padding: 10px 46px;
        font-size: 14px;
    }
}

/*  ====  footer  ====  */
.footer {
    font-family: 'Noto Sans KR', sans-serif;
    padding: 70px 0px;
    background-color: #26282B;
    font-weight: 300;
    line-height: 1.7;
    color: rgba(255 255 255 / 80%);
}
.footer:after {
    content: '';
    display: block;
    margin: 0 auto;
    background: url('/assets/img/footer_logo.png') no-repeat center;
    background-size: cover;
}
.footer ul, .footer li, .footer a {
    margin: 0;
    padding: 0;
    color: inherit;
    list-style: none;
}
.footer li {
    position: relative;
}
.footer p {
    margin: 0;
    text-align: center;
}
.footer a {
    color: rgba(255 255 255 / 80%) !important;
}

/* pc */
@media screen and (min-width: 961px) {
    .footer {
        padding: 30px 0;
    }
    .footer:after {
        width: 175px;
        height: 40px;
    }
    .footer ul {
        font-size: 0;
        text-align: center;
    }
    .footer li {
        padding-left: 20px;
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
    }
    .footer li:before {
        content: '';
        position: absolute;
        top: 7px;
        left: 10px;
        width: 1px;
        height: 13px;
        background-color: rgba(255 255 255 / 80%);
    }
    .footer li:first-child {
        padding-left: 0;
    }
    .footer li:first-child:before {
        display: none;
    }
    .footer p {
        margin-bottom: 20px;
    }
}

/* mobile */
@media screen and (max-width: 960px) {
    .footer {
        padding: 30px 0;
        font-size: 14px;
    }
    .footer:after {
        width: 175px;
        height: 40px;
    }
    .footer ul {
        margin-top: 20px;
    }
    .footer ul:first-of-type {
        margin-top: 0;
    }
    .footer li {
        text-align: center;
    }
    .footer p {
        margin: 20px 0;
    }
    .footer a {
        text-decoration: underline;
    }
}

.btn-custom,
.form-kerri .form-control:focus {
    border-color: #E96A23;
}

.btn-custom,
.back_top,
.work_menu a.active,
.work_menu a:hover {
    background-color: #E96A23;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
    background-color: #d8576f;
    border-color: #E96A23;
}