@charset "UTF-8";

/* ==== 초기화 ==== */
*{box-sizing:border-box;}html,body{scroll-behavior:smooth;}html *{outline:none !important;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{overflow-x:auto;line-height:1;background-color:#fff;word-break:break-all;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;}body,div,dl,dt,dd,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,label,button,textarea,select,table,caption,thead,tfoot,tbody,tr,th,td,address,img,span,em,strong,pre{margin:0;padding:0;}ul,li{list-style:none;}

/* ==== 메일 폼 ==== */
.tbl_formmail_sub {position:relative;width:100%;margin-top:50px;margin-bottom:40px}
.tbl_formmail_sub input[type=file] {width:100%}
.tbl_formmail_sub input[name^=phone] {width:80px !important}
.tbl_formmail_sub select {height:40px; line-height:38px; padding:0 10px; border:1px solid #e0e0e0; cursor:pointer}
.tbl_formmail_sub select:focus, .tbl_formmail select:hover {border-color:#d8d8d8}
.tbl_formmail_sub tbody td {/*font:inherit !important;*/ font-size:0;padding:3px 0;background:none;}
.tbl_formmail_sub tbody td br {display:none}
.tbl_formmail_sub tbody td font, .tbl_formmail tbody td span, .tbl_formmail tbody td a {font:inherit !important; font-size:14px !important}
.formmail_title_bgcolor {display:none}
.input-item textarea {margin-top:30px;}
.formmail_cell_bgcolor {margin-top:10px;display:block;width:100%;}
td:first-child.formmail_cell_bgcolor {border:solid 1px #f1f1f1}
.formmail_cell_bgcolor > table {background:#fff !important;}
.formmail_cell_bgcolor > table td {font-size:12px !important;}
.formmail_cell_bgcolor > table td.input-item textarea {margin-top:0px;}
.formmail_cell_bgcolor > table td.input-item input {width:auto !important;position:relative;top:3px;display:inline-block;}

/* ==== 버튼 색상 ==== */
/* 오렌지 */
.btnDef {
    background-color: #E96A23 !important;
    color: #fff !important;
    border-radius: 4px !important;
}
/* 검정 */
.btnblack {
    background-color: #040404 !important;
    color: #fff !important;
    border-radius: 4px !important;
}
/* 흰색 */
.btnWhite {
    background-color: rgba(255 255 255 / 75%) !important;
    color: #040404 !important;
    border-radius: 4px !important;
}
/* border + 오렌지 */
.btnBdDef {
    border: 1px solid #E96A23 !important;
    color: #E96A23 !important;
    border-radius: 4px !important;
}

.pin__item__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    /* background-color: #fff; */
    background-size: cover;
    background-position: center;
}

/* ==== about ==== */
.about {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.about .pin__item__img{
    background: url('/assets/img/about_bg.png') no-repeat center center;
    background-size: cover;
}
.about:hover .titArea .highlight:after{
    width:100%;
}
.highlight{
    position: relative;
    display: inline-block;
}
.highlight:after{
    content:"";
    width: 0;
    height: 22px;
    display: inline-block;
    background: rgb(235 104 40 / 45%);
    position: absolute;
    bottom:0;
    left:0;
    z-index:-1;
    transition: 0.2s all;
}

/* ==== services ==== */
.services {
    padding-top: 125px !important;
    padding-bottom: 200px !important;
}
.services .contents {
	height: auto;
}
.services-card {
    text-align: center;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-width: 330px;
    min-height: 320px;
    padding: 30px 22px;
    border-radius: 24px;
    background: #e96a23;
    background: #2E3135;
    color: #ffffff;
    line-height: 1.2;
    font-family: 'Noto Sans KR', sans-serif;
    border: 1px solid #2E3135;
    box-sizing: border-box;
    gap: 20px;
}
.services-card dt{
    font-size: 34px;
    font-weight: 600;
}
.services-card dd{
    /* color: #2e3135; */
    font-size: 18px;
    font-weight: 100;
    letter-spacing: -0.025em;
}
.services .pined-inner {
    height: 320px;
    padding-top: 100px;
}
.services .pined-list {
    position: absolute;
    left: 0;
    display: flex;
    gap: 60px;
}
.services .pined-list li {
    list-style: none;
    overflow: hidden;
    min-width: 330px;
    /* box-shadow: 0 1px 1px #1c1f23, 0 2px 2px #1c1f23, 0 4px 4px #1c1f23, 0 6px 8px #1c1f23, 0 8px 16px #1c1f23; */
    /* box-shadow: 0 1px 1px #5b6a7d, 0 2px 2px #5b6a7d, 0 4px 4px #3f4855, 0 6px 8px #2b2f35, 0 8px 16px #5b6a7d; */
    box-shadow: 0 1px 3px #816f62, 0 2px 5px #7f7468, 0 4px 7px #4d443a, 0 6px 10px #35302b, 0 8px 19px #4f473f;
    border-radius: 23px;
    will-change: all;
}

@media screen and (max-width: 960px) {
    /* services */
    .services {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }
    .services .pined-inner {
        height: 450px;
        padding-top: 50px;
    }

    .services-card {
        min-width: calc(100% - 100px);
        min-height: 45vh;
        padding: 25px;
        border-radius: 20px;
    }
}

/* mobile 2 */
@media screen and (max-width:560px){
	/* services */
    .services .pined-inner {
        height: 40vh;
    }
    .services .pined-list li {
        min-width: 280px;
    }
	.services-card {
        min-width: auto;
        min-height: 35vh;
        padding: 20px;
        border-radius: 20px;
    }
    .services-card dt{
        font-size: 28px;
    }
    .services-card dd{
        font-size: 16px;
        font-weight: 100;
        letter-spacing: -0.025em;
    }
}

/* home */
.home {
    position: relative;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	/*background-attachment: fixed !important;*/
	display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s
}
.home .pin__item__img{
    background-image: url('/assets/img/main_visual.png');
    background-color: #272524;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
	background-blend-mode: overlay;
    /* height: 580px; */
}
.home .contents {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 80px;
    padding-bottom: 200px;
}
.home h2 {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 !important;
    color: #fff;
    font-weight: 100;
    line-height: 1.5;
    animation: anim 1.5s infinite alternate ease-in-out;
}
.home h2 .tit_sub {
    margin: 0 0 20px;
    display: block;
    font-weight: 300;
    color: rgba(255 255 255 / 50%);
    display: none;
}
.home h2 .tit_main {
    font-size : 1.4em;
    letter-spacing: -0.05em;
}
.home h2 .tit_main.en {
    color: #ff7f37;
    vertical-align: text-bottom;
    font-weight: 900;
    font-style: italic;
}
.home h3 {
    position: relative;
    width: 100%;
}
.home h3 + .quickbox{
    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translate(-50%);
}
.home h3 + .quickbox a,
.home h3 + .quickbox button {
    display: inline-block;
    text-align: center;
    width: 225px;
	padding: 0 20px !important;
    line-height: 40px !important;
    font-size: 14px !important;
    border: none;
}
.home h3 + .quickbox .btnWhite{
    background-color: rgb(255 255 255) !important;
}
.motion-effect-1 .motion-effect-text {
    position: relative;
    display: inline-block;
}
.motion-effect-1 .motion-line {
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 3px;
    opacity: 0;
    background-color: #ff7f37;
    transform-origin: 100% 100%;
}
.motion-effect-2,
.motion-effect-3 {
    font-size: 2.6em;
    text-align: center;
    letter-spacing: -0.05em;
    font-weight: 900;
}
.motion-effect-2 .motion-dummy {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    opacity: 0;
}
.motion-effect-3 .motion-dummy {
    display: inline-block;
    opacity: 0;
}
.motion-effect-4 {
    position: relative;
}
.motion-effect-4 .motion-dummy .dummy {
    display: inline-block;
}
.motion-effect-4 .motion-line {
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 3px;
    opacity: 0;
    background-color: #ff7f37;
    transform-origin: 100% 100%;
}
@keyframes anim {
    from {
        text-shadow: 0 0 10px transparent;
    }
    to {
        text-shadow: 0 14px 30px rgba(0, 0, 0, 1);
    }
}
.text-rolling-wrap {
    position: relative;
    height: 0px;
    margin: 20px 0 50px 0;
    overflow: hidden;
}
.text-rolling-wrap .text-rolling {
    position: relative;
}
.text-rolling-wrap .text-rolling p {
    padding: 20px 0 20px 0;
    text-align: center;
    font-size : 2.025em;
    font-weight : 900;
}
@media screen and (max-width: 960px) {
    .home {
        justify-content: flex-start;
        padding: 6em 0 12em;
    }
    .home .contents {
        height: 100%;
    }
    .home a {
        padding: 0 10px;
        line-height: 40px;
        font-size: 14px;
    }
    .home h3 + .quickbox {
        bottom: -130px;
        left: 50%;
        transform: translate(-50%);
    }
    .home h3 + .quickbox a {
        display: block;
        width: 100%;
        margin-top: 20px;
    }
    .home .pin__item__img {
        height: 100%;
    }
    .home h2 {
        margin-bottom: 20px;
        font-size: 28px;
    }
    .home h2 .tit_main{
        font-size: 1.2em;
    }
    .text-rolling-wrap {
        margin: 0;
    }
    .text-rolling-wrap .text-rolling p {
        padding: 30px 0 30px 0;
        font-size: 0.8em;
    }
    .motion-effect-2,
    .motion-effect-3 {
        font-size: 1.6em;
    }
}

/* client */
.client .contents {
	flex-direction: column;
	height: auto;
}
#client .titArea p {
	margin-top: 35px !important;
}
.client .clientList {
	overflow: hidden;
	width: 100%;
	height: auto;
	margin-top: 60px;
}
.client .client-logo {
	position: relative;
}
.client .client-logo + .client-logo {
	margin-top: 40px;
}
.client .client-logo .client-logo-list {
	display: flex;
	gap:  15px;
	width: 100%;
}
.client .client-logo .client-logo-list li {
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 360px;
	height: 220px;
	border-radius: 24px;
	background: #2E3135;
}
.client .client-logo .client-logo-list li img {
	width: 175px;
}
@media (prefers-reduced-motion: reduce) {
    .marquee-group {
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
    }
}
@-webkit-keyframes scroll-x {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - calc(clamp(10rem, 1rem + 40vmin, 30rem) / 14)));
    }
}
@keyframes scroll-x {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - calc(clamp(10rem, 1rem + 40vmin, 30rem) / 14)));
    }
}
@-webkit-keyframes scroll-y {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(calc(-100% - calc(clamp(10rem, 1rem + 40vmin, 30rem) / 14)));
    }
}
@keyframes scroll-y {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(calc(-100% - calc(clamp(10rem, 1rem + 40vmin, 30rem) / 14)));
    }
}
.marquee-wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.marquee-group {
    -webkit-animation: scroll-x 50s linear infinite;
    animation: scroll-x 50s linear infinite;
}
.marquee--reverse .marquee-group {
    animation-direction: reverse;
    -webkit-animation-delay: -10s;
    animation-delay: -10s;
}

/* work */
#work {
    position: relative;
    background-color: #26282B;
}
#work .contents {
	padding-right: 0 !important;
	overflow: unset;
}
#work .titArea {
	position: sticky !important;
	top: 232px !important;
	right: 0;
	float: right;
}
.work {
    width: 100vw;
}
.work .titArea {
    position: sticky;
    top: 300px;
    overflow: hidden;
}
.work .workList li {
	width: calc(50% - 37.5px);
	margin: 150px 0 0 75px;
}
.work .workList li:nth-child(2) {
	margin-top: 301px;
}
.work .workList a {
	border-radius: 24px;
}

/* Our Story */
.story {
    padding: 110px 0;
}
.story .contents {
    max-width: unset;
    height: auto;
    text-align: center;
}
.story .contents > * {
    display: inline-block;
    vertical-align: top;
}
.story .btnArea {
    position: absolute;
    left: 50%;
    top: 235px;
    transform: translate(-50%);
    width: 100%;
    max-width: 1110px;
    padding: 0 50px;
    text-align: right;
    font-size: 0;
}
.story .btnArea a {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}
.story .btnArea a:first-child {
    margin-left: 0;
}
.story .titArea {
    text-align: center;
}
.story .storyTxt {
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 1100px;
    padding: 0 50px;
}
.story .storyTxt .slick-slide {
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
    top: 0px;
    z-index: 998;
    width: 265px;
    opacity: 0;
    color: #fff;
    text-align: left;
    line-height: 1.3;
    font-weight: 300;
    font-size: 18px;
}
.story .storyTxt .slick-slide span {
    display: block;
    margin-top: 5px;
    color: rgba(255 255 255 / 50%);
    line-height: 1.5;
    font-size: 16px;
}
.story .slideArea {
    position: relative;
    width: 100%;
    margin-top: 150px;
    margin-left: 0px;
}
.story .slideArea .storyList li {
	width: 100%;
	height: 500px;
}
.story .slideArea .storyList li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

@media screen and (max-width: 960px) {
    section.section#contact .row.mt-5{
        gap: 50px;
    }
    section.section#contact .contact_detail-title{
        padding-bottom: 10px;
        line-height: 1;
    }
}

/* 문의하기 부분 */
#quick-menu {
	z-index:1000;
	position: fixed;
	bottom: 15px;
	right: 20px;
	transition:all 0.5s;
}
#quick-menu a {
	position: static;
	display: block;
	height:50px;
	width:50px;
	border-radius:5px;
	text-align: center;
}
#quick-menu a + a {
	margin-top: 10px;
}
#quick-menu a i {
	color: #fff;
	line-height: 48px;
}
.btn-contact {
	background-color: #e96a23;
	animation: tada 2s infinite;
}
.formmail_btn {
    text-align: center;
}
.formmail_btn .btn-custom:hover {
    background-color: #bf5113 !important;
}
.btn-contact.active {
	animation: unset;
}
#quick-menu .btn-contact .mdi-email-outline {
    position: relative;
}
#quick-menu .btn-contact .mdi-email-outline:after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background-color: #88ff5f;
    border-radius: 100%;
    position: absolute;
    top: 3px;
    right: -5px;
}
#quick-menu .btn-contact i {
	font-size: 25px;
}
.btn-contact.active:after {
	content:"\F156";
	display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #fff;
	font-size: 25px;
	line-height: 46px;
}
.btn-contact.active i {
	display: none;
}
#quick-menu .btn-contact.active + .back_top {
	display: none !important;
}
section.section#contact {
    z-index: unset;
}
#popupContact {
	display: none;
	z-index:1000;
	position: fixed;
	background-color: #2E3135;
}
#popupContact.row {
	margin-top: unset;
	margin-right: unset;
}

/* pc */
@media screen and (min-width:961px) {
    .home h2 {
        margin-bottom: 40px;
    }
    .home a {
        padding: 0 20px;
        line-height: 53px;
    }
    .about .contents {
        padding: 50px;
        height: 100vh;
        vertical-align: middle;
        display: contents;
    }
    .about .titArea {
        text-align: center;
        margin: 0 auto;
    }
    .about .titArea p {
        font-size: 17px;
    }
	#popupContact {
		bottom: 65px;
		right: 20px;
		padding: 30px;
		width: 30%;
		border-radius: 20px;
	}
	#popupContact .tbl_formmail_sub {
		margin: 0 0 20px;
	}

    /* 플립 카드 */
    .card-wrap li:hover .flip-card{
        transform: rotateY(180deg);
    }
    .card-wrap .flip-card {
        position: relative;
        transition: transform 1.5s;
        transform-style: preserve-3d;
        overflow: unset;
    }
    .flip-card-side {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 24px;
        overflow: hidden;
    }
    .flip-card-side.front {
        display: block;
    }
    .flip-card-side.front img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .flip-card-side.back {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 30px;
        background-color: #26282b;
        transform: rotateY(180deg);
        font-size: 24px;
    }
    .card-wrap span.tit,
    .card-wrap span.info {
        opacity: 1;
    }
}

/* mobile */
@media screen and (max-width:960px) {
    /* about */
    .about {
        padding: 85px 0;
    }
    .about .contents {
        padding: 0;
    }

	/* client */
	.client .client-logo {
		height: 120px;
	}
	.client .client-logo .client-logo-list li {
		width: 240px;
		height: 120px;
	}
	.client .client-logo .client-logo-list li img {
		width: 98px;
	}
	/* work */
	#work .contents {
		flex-direction: column;
		gap: 0;
		padding-right: 30px !important;
	}
	#work .titArea {
		position: static !important;
		float: unset;
	}
	.work .workList {
		padding-right: 0;
	}
	.work .workList li {
		width: calc(50% - 15px);
		margin: 120px 0 0 30px;
	}
    /* 카드 플립 */
	.card-wrap .flip-card {
		display: block;
		padding: 0;
	}
    .flip-card-side.front {
        display: block;
    }
    .flip-card-side.front img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .flip-card-side.back {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
		height: 100%;
        padding: 30px;
        font-size: 24px;
    }

    /* Our Story */
    .story .contents {
		padding: 0;
	}
	.story .storyTxt {
        top: 160px;
		left: 24px;
        padding: 0;
        transform: unset;
	}
    .story .slideArea {
		margin-top: 160px;
	}
    .story .btnArea {
        top: 215px;
        bottom: unset !important;
		right: 24px !important;
        left: unset;
        transform: unset;
        width: unset;
        padding: 0;
	}
	.story .storyList li {
		width: 100%;
		margin-right: 0;
        height: auto;
	}
	/* popupContact */
	#popupContact {
		bottom: 0;
		right: 0;
		padding: 15px;
		width: 100%;
		height: 100vh;
		border-radius: 10px;
		box-sizing: border-box;
	}
	#popupContact .tbl_formmail_sub {
		margin: 0 0 20px;
	}
}

/* mobile 2 */
@media screen and (max-width:560px) {
	/* work */
	.work .workList li {
		width: 100%;
		margin: 40px 0 0 0;
	}
	.work .workList li:nth-child(2) {
		margin-top: 40px;
	}
}