@charset "UTF-8";
/* Reset */
*{box-sizing:border-box;}html,body{scroll-behavior:smooth;}html *{outline:none !important;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{overflow-x:auto;line-height:1;background-color:#fff;word-break:break-all;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;}body,div,dl,dt,dd,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,label,button,textarea,select,table,caption,thead,tfoot,tbody,tr,th,td,address,img,span,em,strong,pre{margin:0;padding:0;}

/* 메일 폼 */
.tbl_formmail_sub {position:relative;width:100%;margin-top:50px;margin-bottom:40px}
.tbl_formmail_sub input[type=file] {width:100%}
.tbl_formmail_sub input[name^=phone] {width:80px !important}
.tbl_formmail_sub select {height:40px; line-height:38px; padding:0 10px; border:1px solid #e0e0e0; cursor:pointer}
.tbl_formmail_sub select:focus, .tbl_formmail select:hover {border-color:#d8d8d8}
.tbl_formmail_sub tbody td {/*font:inherit !important;*/ font-size:0;padding:3px 0;background:none;}
.tbl_formmail_sub tbody td br {display:none}
.tbl_formmail_sub tbody td font, .tbl_formmail tbody td span, .tbl_formmail tbody td a {font:inherit !important; font-size:14px !important}
.formmail_title_bgcolor {display:none}
.input-item textarea {margin-top:30px;}
.formmail_cell_bgcolor {margin-top:10px;display:block;width:100%;}
td:first-child.formmail_cell_bgcolor {border:solid 1px #f1f1f1}
.formmail_cell_bgcolor > table {background:#fff !important;}
.formmail_cell_bgcolor > table td {font-size:12px !important;}
.formmail_cell_bgcolor > table td.input-item textarea {margin-top:0px;}
.formmail_cell_bgcolor > table td.input-item input {width:auto !important;position:relative;top:3px;display:inline-block;}

/* about */
#about {
    position: relative;
    z-index: 1;
    height: 720px;
    background: url('/assets/img/about_bg.png') no-repeat center top;
    background-size: cover;
}

/* services */
.services {}
.services .contents {
	height: auto;
	overflow: unset;
}
.services .serviceList {}
.services .serviceList dl {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: calc((100% - 60px) / 3);
	min-height: 320px;
	margin: 30px 0 0 30px;
	padding: 30px;
	border-radius: 24px;
	background: #eee;
}
.services .serviceList dl:nth-child(4n) {
	margin-left: 0;
}
.services .serviceList dl:nth-child(-n + 3) {
	padding-top: 30px;
}
.services .serviceList dt {
	color: #000;
	font-weight: 700;
	text-align: center;
}
.services .serviceList dt::before {
	left: 50%;
	transform: translateX(-50%);
}
.services .serviceList dd {
	color: #000;
	text-align: center;
}
.services-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-width: 330px;
	min-height: 320px;
	padding: 30px;
	border-radius: 24px;
	background: #eee;
	color: #000;
}

/* mobile */
@media screen and (max-width:960px){

}

/* cta */
#cta {
	height: 100vh !important;
	background-attachment: fixed !important;
}

/* client */
.client {}
.client .contents {
	flex-direction: column;
	height: auto;
}
#client .titArea p {
	margin-top: 35px !important;
}
.client .clientList {
	overflow: hidden;
	width: 100%;
	height: auto;
	margin-top: 60px;
}
.client .clientList .tabMenu {
	position: static;
}
.client .client-logo {
	position: relative;
}
.client .client-logo + .client-logo {
	margin-top: 40px;
}
.client .client-logo .client-logo-list {
	display: flex;
	gap:  15px;
	width: 100%;
}
.client .client-logo .client-logo-list li {
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 360px;
	height: 220px;
	border-radius: 24px;
	background: #2E3135;
}
.client .client-logo .client-logo-list li img {
	width: 175px;
}
@media (prefers-reduced-motion: reduce) {
    .marquee-group {
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
    }
}
@-webkit-keyframes scroll-x {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - calc(clamp(10rem, 1rem + 40vmin, 30rem) / 14)));
    }
}
@keyframes scroll-x {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - calc(clamp(10rem, 1rem + 40vmin, 30rem) / 14)));
    }
}
@-webkit-keyframes scroll-y {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(calc(-100% - calc(clamp(10rem, 1rem + 40vmin, 30rem) / 14)));
    }
}
@keyframes scroll-y {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(calc(-100% - calc(clamp(10rem, 1rem + 40vmin, 30rem) / 14)));
    }
}
.marquee-wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.marquee-group {
    -webkit-animation: scroll-x 50s linear infinite;
    animation: scroll-x 50s linear infinite;
}
.marquee--reverse .marquee-group {
    animation-direction: reverse;
    -webkit-animation-delay: -10s;
    animation-delay: -10s;
}

/* work */
#work .contents {
	padding-right: 0 !important;
	overflow: unset;
}
#work .titArea {
	position: sticky !important;
	top: 232px !important;
	right: 0;
	float: right;
}
.work {}
.work .workList li {
	width: calc(50% - 37.5px);
	margin: 150px 0 0 75px;
}

.work .workList li:nth-child(2) {
	margin-top: 301px;
}
.work .workList a {
	border-radius: 24px;
}

/* story */
.story .storyList li {
	width: 100%;
	height: 500px;
}
.story .storyTxt {
	position:absolute;
	top: -100px;
	left: 0;
}
#story .contents {
	height: auto;
	text-align: center !important;
}
#story .slideArea {
	width: 100% !important;
	margin-top: 200px;
	margin-left: 0 !important;
}
#story .btnArea {
	bottom: 0 !important;
	right: 0 !important;
    top: -100px !important;
}
#story .titArea {
	text-align: center !important;
}

/* footer */
.footer {}
.footer .contents {
	height: auto;
}


/* 문의하기 부분 */
#quick-menu {
	z-index:1000;
	position: fixed;
	bottom: 15px;
	right: 20px;
	transition:all 0.5s;
}
#quick-menu a {
	position: static;
	display: block;
	height:50px;
	width:50px;
	border-radius:5px;
	text-align: center;
}
#quick-menu a + a {
	margin-top: 10px;
}
#quick-menu a i {
	color: #fff;
	line-height: 48px;
}
.btn-contact {
	background-color: #e96a23;
	animation: tada 2s infinite;
}
#quick-menu .btn-contact i {
	font-size: 25px;
}
.btn-contact.active {
	animation: unset;
}
.btn-contact.active:after {
	content:"\F156";
	display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #fff;
	font-size: 25px;
	line-height: 46px;
}
.btn-contact.active i {
	display: none;
}
#quick-menu .btn-contact.active + .back_top {
	display: none !important;
}

section.section#contact {z-index: unset;}
#popupContact {
	display: none;
	z-index:1000;
	position: fixed;
	background-color: #2E3135;
}
#popupContact.row {
	margin-top: unset;
	margin-right: unset;
}

/* pc */
@media screen and (min-width:961px){
	#popupContact {
		bottom: 65px;
		right: 20px;
		padding: 30px;
		width: 30%;
		border-radius: 20px;
	}
	#popupContact .tbl_formmail_sub {
		margin: 0 0 20px;
	}
}
/* mobile */
@media screen and (max-width:960px){
	/* service */
	.services .serviceList dl {
		width: calc((100% - 30px) / 2);
	}
	.services .serviceList dl:nth-child(4n) {
		margin-left: 30px;
	}

	/* client */
	.client .client-logo {
		height: 120px;
	}
	.client .client-logo .client-logo-list li {
		width: 240px;
		height: 120px;
	}
	.client .client-logo .client-logo-list li img {
		width: 98px;
	}
	/* work */
	#work .contents {
		flex-direction: column;
		gap: 0;
		padding-right: 30px !important;
	}
	#work .titArea {
		position: static !important;
		float: unset;
	}
	.work .workList {
		padding-right: 0;
	}
	.work .workList li {
		width: calc(50% - 15px);
		margin: 120px 0 0 30px;
	}
	/* story */
	#story .slideArea {
		margin-top: 160px;
	}
	#story .btnArea {
		top: -50px !important;
	}
	.story .storyList li {
		width: 100%;
		margin-right: 0;
	}
	/* popupContact */
	#popupContact {
		bottom: 0;
		right: 0;
		padding: 15px;
		width: 100%;
		height: 100vh;
		border-radius: 10px;
		box-sizing: border-box;
	}
	#popupContact .tbl_formmail_sub {
		margin: 0 0 20px;
	}
}

/* mobile 2 */
@media screen and (max-width:560px){
	/* service */
	.services .serviceList dl {
		width: 100%;
		margin-left: 0;
	}
	.services .serviceList dl:nth-child(2) {
		margin-top: 30px;
	}
	.services .serviceList dl:nth-child(4n) {
		margin-left: 0;
	}
	/* work */
	.work .workList li {
		width: 100%;
		margin: 40px 0 0 0;
	}
	.work .workList li:nth-child(2) {
		margin-top: 40px;
	}
}